.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 50px 
}
.insideDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 30px; 
}
.bir {
    height: 75px;  
    background-color: rgba(244, 253, 118, 0.644); 
    padding-top: 50px;
    
}
.iki {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    background-color: rgb(255, 237, 237);
    column-gap: 10px;
    height: 750px;
}
.three {
    height: 400px;
    column-gap: 10px;
    background-color: rgba(234, 172, 96, 0.71);
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
}
.grid-child {
    width: 175px;
}

a{
    margin-top: 50px;
    font-size: 30px;
}
.orta{
   
    height: 100%;
}

p {
    font-size: 20px;
}
#sthme{
    width: 115px;
}
@media screen and (max-width: 1350px){
    .iki { 
        height: 60%;
        grid-template-columns: 1fr 1fr ; 
    } 
    .three {
        height: 30%;
        margin-top: 10px;
    } 
}
@media screen and (max-width: 1000px){
    .iki { 
        height: 1400px;
    } 
    .three {
        height: 650px;
        margin-top: 10px;
    } 
}
@media screen and (max-width: 768px){
    .iki {
        grid-template-columns: 1fr 1fr ; 
        height: 70%;
    }  
    .three {
        height: 30%;
        margin-top: 10px;
    }
}
