.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 50px 
}
.insideDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 30px; 
}
.bir {
    height: 75px;  
    background-color: rgba(244, 253, 118, 0.644); 
    padding-top: 50px;   
}
.iki {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    background-color: rgb(255, 237, 237);
    column-gap: 10px;
    height: 750px;
}
.three {
    height: 400px;
    column-gap: 10px;
    background-color: rgba(234, 172, 96, 0.71);
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
}
.grid-child {
    width: 175px;
}
a{
    margin-top: 50px;
    font-size: 30px;
}
.orta{
   
    height: 100%;
}
p {
    font-size: 20px;
}
#sthme{
    width: 115px;
}
@media screen and (max-width: 1350px){
    .iki { 
        height: 60%;
        grid-template-columns: 1fr 1fr ; 
    } 
    .three {
        height: 30%;
        margin-top: 10px;
    } 
}
@media screen and (max-width: 1000px){
    .iki { 
        height: 1400px;
    } 
    .three {
        height: 650px;
        margin-top: 10px;
    } 
}
@media screen and (max-width: 768px){
    .iki {
        grid-template-columns: 1fr 1fr ; 
        height: 70%;
    }  
    .three {
        height: 30%;
        margin-top: 10px;
    }
}
.iff {
    width: 100%;
    height: 120vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }
  .fer {
    margin: 1em auto;
    text-align: center;
  }
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  fieldset:last-of-type {
    border-bottom: none;
  }
  label {
    display: block;
    margin: 0.5rem 0;
  } 
  input,textarea,select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  input[type="file"] {
    padding: 1px 2px;
  }
  * {
    background-color: #1b1b32;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }