.grid-child {
    width: 150px;
    height: 150px;
    background-color: yellow;
}
.buton {
    width: 150px;
    height: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 490px;
}

